
@{
    ViewData["Title"] = "MyAccount";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="page-heading">
    <div class="page-title">
        <h2>Cart</h2>
    </div>
</div>
<div class="main-container col1-layout">
    <div class="main">
        <div class="cart">
            <div class="table-responsive shopping-cart-tbl  container">
                <div class="woocommerce">
                    <div class="klb-cart-empty">
                        <div class="woocommerce-notices-wrapper"></div>
                        <p class="cart-empty woocommerce-info">Your cart is currently empty.</p>
                        <p class="return-to-shop">
                            <a class="button wc-backward" href="https://klbtheme.com/qualis/shop/">
                                Return to shop
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--WPFC_FOOTER_START-->
<div class="container">
    <div class="row our-features-box">
        <ul>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-truck"></i>
                    <div class="content">FREE SHIPPING on order over $99</div>
                </div>
            </li>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-phone"></i>
                    <div class="content">HAVE A QUESTIONS? <a href="10800 7890000">+10800 789 0000</a></div>
                </div>
            </li>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-usd"></i>
                    <div class="content">100% MONEY BACK GUARANTEE</div>
                </div>
            </li>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-briefcase"></i>
                    <div class="content">30 DAYS RETURN SERVICE</div>
                </div>
            </li>
            <li class="last">
                <div class="feature-box">
                    <a href="#"><i class="fa fa-apple"></i> Download</a>
                    <a href="#"><i class="fa fa-android"></i> Download</a>
                </div>
            </li>
        </ul>
    </div>
</div>