@{
    ViewData["Title"] = "INdex";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="page-heading">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <nav class="woocommerce-breadcrumb">
                        <ul>
                            <li><a href="https://klbtheme.com/qualis">Home</a></li>
                            <span>&rsaquo; </span>
                            <li><strong>Shop</strong></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title">
        <h2>Products</h2>
    </div>
</div>
<section class="main-container col2-left-layout">
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-9 col-sm-push-3 product-grid">
                <div class="pro-coloumn">
                    <div class="category-description std">
                        <div class="slider-items-products">
                            <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col1 owl-carousel owl-theme">
                                    <div class="item">
                                        <a href=""><img alt="Season 2018" src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/category-img1.jpg"></a>
                                        <div class="cat-img-title cat-bg cat-box">
                                            <div class="small-tag">Season 2018</div>
                                            <h2 class="cat-heading">Organic <span>World</span></h2>
                                            <p>GET 40% OFF ⋅ Free Delivery</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <a href=""><img alt="Green World" src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/category-img2.jpg"></a>
                                        <div class="cat-img-title cat-bg cat-box">
                                            <div class="small-tag">Green World</div>
                                            <h2 class="cat-heading">Vegetable <span>sale</span></h2>
                                            <p>Save 70% on all items</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <article>
                        <div class="woocommerce-notices-wrapper"></div>
                        <div class="toolbar">
                            <div class="sorter">
                                <div class="view-mode"> <a title="Grid" class="button button-active button-grid">&nbsp;</a> <a title="List" class="button-list">&nbsp;</a></div>
                            </div>
                            <div class="sort-by">
                                <form class="woocommerce-ordering" method="get">
                                    <select name="orderby" class="orderby" aria-label="Shop order">
                                        <option value="menu_order" selected='selected'>Default sorting</option>
                                        <option value="popularity">Sort by popularity</option>
                                        <option value="rating">Sort by average rating</option>
                                        <option value="date">Sort by latest</option>
                                        <option value="price">Sort by price: low to high</option>
                                        <option value="price-desc">Sort by price: high to low</option>
                                    </select>
                                    <input type="hidden" name="paged" value="1" />
                                </form>
                            </div>
                        </div>
                        <div class="category-products">
                            <ul class="products-grid">
                                <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a href="https://klbtheme.com/qualis/product/fresh-organic-mustard-leaves/" title="Fresh Organic Mustard Leaves" class="product-image"> <img onload="Wpfcll.r(this,true);" src="https://klbtheme.com/qualis/wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" data-wpfc-original-src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p12.jpg" alt="Fresh Organic Mustard Leaves"></a>
                                                <div class="sale-label sale-top-left">-34%</div>
                                                <div class="item-box-hover">
                                                    <div class="box-inner">
                                                        <div class="product-detail-bnt"><a class="button detail-bnt" id="121"><span>Quick View</span></a></div>
                                                        <div class="actions">
                                                            <span class="add-to-links">
                                                                <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart" data-product_id="121">
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-shortcode" data-tinv-wl-list="[]" data-tinv-wl-product="121" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="add_cart"><a href="https://klbtheme.com/qualis/product/fresh-organic-mustard-leaves/" data-quantity="1" class="button btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="121" data-product_sku="KJ3SA62" aria-label="Read more about &ldquo;Fresh Organic Mustard Leaves&rdquo;" rel="nofollow"><span>Read more</span></a></div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"><a href="https://klbtheme.com/qualis/product/fresh-organic-mustard-leaves/" title="Fresh Organic Mustard Leaves">Fresh Organic Mustard Leaves</a></div>
                                                <div class="item-content">
                                                    <div class="rating">
                                                        <div class="ratings">
                                                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="item-price">
                                                        <div class="price-box"><span class="regular-price"><span class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>9.00</bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>6.00</bdi></span></ins></span> </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-after-add-to-cart tinvwl-loop-button-wrapper" data-product_id="121">
                                        <div class="tinv-wishlist-clear"></div>
                                        <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after tinvwl-loop" data-tinv-wl-list="[]" data-tinv-wl-product="121" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                        <div class="tinv-wishlist-clear"></div>
                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                    </div>
                                </li>
                                <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a href="https://klbtheme.com/qualis/product/fresh-red-seedless/" title="Fresh Red Seedless" class="product-image"> <img onload="Wpfcll.r(this,true);" src="https://klbtheme.com/qualis/wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" data-wpfc-original-src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p16.jpg" alt="Fresh Red Seedless"></a>
                                                <div class="sale-label sale-top-left">-23%</div>
                                                <div class="item-box-hover">
                                                    <div class="box-inner">
                                                        <div class="product-detail-bnt"><a class="button detail-bnt" id="86"><span>Quick View</span></a></div>
                                                        <div class="actions">
                                                            <span class="add-to-links">
                                                                <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart" data-product_id="86">
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-shortcode" data-tinv-wl-list="[]" data-tinv-wl-product="86" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="add_cart"><a href="https://klbtheme.com/qualis/product/fresh-red-seedless/" data-quantity="1" class="button btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="86" data-product_sku="K37SA62" aria-label="Read more about &ldquo;Fresh Red Seedless&rdquo;" rel="nofollow"><span>Read more</span></a></div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"><a href="https://klbtheme.com/qualis/product/fresh-red-seedless/" title="Fresh Red Seedless">Fresh Red Seedless</a></div>
                                                <div class="item-content">
                                                    <div class="rating">
                                                        <div class="ratings">
                                                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="item-price">
                                                        <div class="price-box"><span class="regular-price"><span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>50.00</bdi></span> &ndash; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>60.00</bdi></span></span> </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-after-add-to-cart tinvwl-loop-button-wrapper" data-product_id="86">
                                        <div class="tinv-wishlist-clear"></div>
                                        <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after tinvwl-loop" data-tinv-wl-list="[]" data-tinv-wl-product="86" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                        <div class="tinv-wishlist-clear"></div>
                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                    </div>
                                </li>
                                <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a href="https://klbtheme.com/qualis/product/native-organic-carrot/" title="Native Organic Carrot" class="product-image"> <img onload="Wpfcll.r(this,true);" src="https://klbtheme.com/qualis/wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" data-wpfc-original-src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p9.jpg" alt="Native Organic Carrot"></a>
                                                <div class="sale-label sale-top-left">-23%</div>
                                                <div class="item-box-hover">
                                                    <div class="box-inner">
                                                        <div class="product-detail-bnt"><a class="button detail-bnt" id="117"><span>Quick View</span></a></div>
                                                        <div class="actions">
                                                            <span class="add-to-links">
                                                                <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart" data-product_id="117">
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-shortcode" data-tinv-wl-list="[]" data-tinv-wl-product="117" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="add_cart"><a href="https://klbtheme.com/qualis/product/native-organic-carrot/" data-quantity="1" class="button btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="117" data-product_sku="K97SA62" aria-label="Read more about &ldquo;Native Organic Carrot&rdquo;" rel="nofollow"><span>Read more</span></a></div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"><a href="https://klbtheme.com/qualis/product/native-organic-carrot/" title="Native Organic Carrot">Native Organic Carrot</a></div>
                                                <div class="item-content">
                                                    <div class="rating">
                                                        <div class="ratings">
                                                            <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="item-price">
                                                        <div class="price-box"><span class="regular-price"><span class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>9.00</bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>7.00</bdi></span></ins></span> </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-after-add-to-cart tinvwl-loop-button-wrapper" data-product_id="117">
                                        <div class="tinv-wishlist-clear"></div>
                                        <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after tinvwl-loop" data-tinv-wl-list="[]" data-tinv-wl-product="117" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                        <div class="tinv-wishlist-clear"></div>
                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                    </div>
                                </li>
                                <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a href="https://klbtheme.com/qualis/product/native-organic-cucumber/" title="Native Organic Cucumber" class="product-image"> <img onload="Wpfcll.r(this,true);" src="https://klbtheme.com/qualis/wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" data-wpfc-original-src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p4.jpg" alt="Native Organic Cucumber"></a>
                                                <div class="sale-label sale-top-left">-43%</div>
                                                <div class="item-box-hover">
                                                    <div class="box-inner">
                                                        <div class="product-detail-bnt"><a class="button detail-bnt" id="112"><span>Quick View</span></a></div>
                                                        <div class="actions">
                                                            <span class="add-to-links">
                                                                <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart" data-product_id="112">
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-shortcode" data-tinv-wl-list="[]" data-tinv-wl-product="112" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="add_cart"><a href="https://klbtheme.com/qualis/product/native-organic-cucumber/" data-quantity="1" class="button btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="112" data-product_sku="K47SA62" aria-label="Read more about &ldquo;Native Organic Cucumber&rdquo;" rel="nofollow"><span>Read more</span></a></div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"><a href="https://klbtheme.com/qualis/product/native-organic-cucumber/" title="Native Organic Cucumber">Native Organic Cucumber</a></div>
                                                <div class="item-content">
                                                    <div class="rating">
                                                        <div class="ratings">
                                                            <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="item-price">
                                                        <div class="price-box"><span class="regular-price"><span class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>7.00</bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>3.99</bdi></span></ins></span> </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-after-add-to-cart tinvwl-loop-button-wrapper" data-product_id="112">
                                        <div class="tinv-wishlist-clear"></div>
                                        <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after tinvwl-loop" data-tinv-wl-list="[]" data-tinv-wl-product="112" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                        <div class="tinv-wishlist-clear"></div>
                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                    </div>
                                </li>
                                <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a href="https://klbtheme.com/qualis/product/organic-grape-tomatoes/" title="Organic Grape Tomatoes" class="product-image"> <img onload="Wpfcll.r(this,true);" src="https://klbtheme.com/qualis/wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" data-wpfc-original-src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p3.jpg" alt="Organic Grape Tomatoes"></a>
                                                <div class="item-box-hover">
                                                    <div class="box-inner">
                                                        <div class="product-detail-bnt"><a class="button detail-bnt" id="94"><span>Quick View</span></a></div>
                                                        <div class="actions">
                                                            <span class="add-to-links">
                                                                <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart" data-product_id="94">
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-shortcode" data-tinv-wl-list="[]" data-tinv-wl-product="94" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="add_cart"><a href="https://klbtheme.com/qualis/product/organic-grape-tomatoes/" data-quantity="1" class="button btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="94" data-product_sku="K27SA62" aria-label="Read more about &ldquo;Organic Grape Tomatoes&rdquo;" rel="nofollow"><span>Read more</span></a></div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"><a href="https://klbtheme.com/qualis/product/organic-grape-tomatoes/" title="Organic Grape Tomatoes">Organic Grape Tomatoes</a></div>
                                                <div class="item-content">
                                                    <div class="rating">
                                                        <div class="ratings">
                                                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="item-price">
                                                        <div class="price-box"><span class="regular-price"><span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>7.99</bdi></span></span> </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-after-add-to-cart tinvwl-loop-button-wrapper" data-product_id="94">
                                        <div class="tinv-wishlist-clear"></div>
                                        <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after tinvwl-loop" data-tinv-wl-list="[]" data-tinv-wl-product="94" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                        <div class="tinv-wishlist-clear"></div>
                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                    </div>
                                </li>
                                <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a href="https://klbtheme.com/qualis/product/organic-green-bell-pepper/" title="Organic Green Bell Pepper" class="product-image"> <img onload="Wpfcll.r(this,true);" src="https://klbtheme.com/qualis/wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" data-wpfc-original-src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p10.jpg" alt="Organic Green Bell Pepper"></a>
                                                <div class="sale-label sale-top-left">-38%</div>
                                                <div class="item-box-hover">
                                                    <div class="box-inner">
                                                        <div class="product-detail-bnt"><a class="button detail-bnt" id="118"><span>Quick View</span></a></div>
                                                        <div class="actions">
                                                            <span class="add-to-links">
                                                                <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart" data-product_id="118">
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-shortcode" data-tinv-wl-list="[]" data-tinv-wl-product="118" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="add_cart"><a href="https://klbtheme.com/qualis/product/organic-green-bell-pepper/" data-quantity="1" class="button btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="118" data-product_sku="KJ1SA62" aria-label="Read more about &ldquo;Organic Green Bell Pepper&rdquo;" rel="nofollow"><span>Read more</span></a></div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"><a href="https://klbtheme.com/qualis/product/organic-green-bell-pepper/" title="Organic Green Bell Pepper">Organic Green Bell Pepper</a></div>
                                                <div class="item-content">
                                                    <div class="rating">
                                                        <div class="ratings">
                                                            <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="item-price">
                                                        <div class="price-box"><span class="regular-price"><span class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>8.00</bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>5.00</bdi></span></ins></span> </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-after-add-to-cart tinvwl-loop-button-wrapper" data-product_id="118">
                                        <div class="tinv-wishlist-clear"></div>
                                        <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after tinvwl-loop" data-tinv-wl-list="[]" data-tinv-wl-product="118" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                        <div class="tinv-wishlist-clear"></div>
                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                    </div>
                                </li>
                                <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a href="https://klbtheme.com/qualis/product/organic-green-cabbage/" title="Organic Green Cabbage" class="product-image"> <img onload="Wpfcll.r(this,true);" src="https://klbtheme.com/qualis/wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" data-wpfc-original-src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p5.jpg" alt="Organic Green Cabbage"></a>
                                                <div class="sale-label sale-top-left">-50%</div>
                                                <div class="item-box-hover">
                                                    <div class="box-inner">
                                                        <div class="product-detail-bnt"><a class="button detail-bnt" id="113"><span>Quick View</span></a></div>
                                                        <div class="actions">
                                                            <span class="add-to-links">
                                                                <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart" data-product_id="113">
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-shortcode" data-tinv-wl-list="[]" data-tinv-wl-product="113" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="add_cart"><a href="https://klbtheme.com/qualis/product/organic-green-cabbage/" data-quantity="1" class="button btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="113" data-product_sku="K57SA62" aria-label="Read more about &ldquo;Organic Green Cabbage&rdquo;" rel="nofollow"><span>Read more</span></a></div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"><a href="https://klbtheme.com/qualis/product/organic-green-cabbage/" title="Organic Green Cabbage">Organic Green Cabbage</a></div>
                                                <div class="item-content">
                                                    <div class="rating">
                                                        <div class="ratings">
                                                            <div class="star-rating" role="img" aria-label="Rated 1.00 out of 5"><span style="width:20%">Rated <strong class="rating">1.00</strong> out of 5</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="item-price">
                                                        <div class="price-box"><span class="regular-price"><span class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>10.00</bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>5.00</bdi></span></ins></span> </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-after-add-to-cart tinvwl-loop-button-wrapper" data-product_id="113">
                                        <div class="tinv-wishlist-clear"></div>
                                        <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after tinvwl-loop" data-tinv-wl-list="[]" data-tinv-wl-product="113" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                        <div class="tinv-wishlist-clear"></div>
                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                    </div>
                                </li>
                                <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a href="https://klbtheme.com/qualis/product/organic-red-delicious-apple/" title="Organic Red Delicious Apple" class="product-image"> <img onload="Wpfcll.r(this,true);" src="https://klbtheme.com/qualis/wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" data-wpfc-original-src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p7.jpg" alt="Organic Red Delicious Apple"></a>
                                                <div class="item-box-hover">
                                                    <div class="box-inner">
                                                        <div class="product-detail-bnt"><a class="button detail-bnt" id="115"><span>Quick View</span></a></div>
                                                        <div class="actions">
                                                            <span class="add-to-links">
                                                                <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart" data-product_id="115">
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-shortcode" data-tinv-wl-list="[]" data-tinv-wl-product="115" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="add_cart"><a href="https://klbtheme.com/qualis/product/organic-red-delicious-apple/" data-quantity="1" class="button btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="115" data-product_sku="K77SA62" aria-label="Read more about &ldquo;Organic Red Delicious Apple&rdquo;" rel="nofollow"><span>Read more</span></a></div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"><a href="https://klbtheme.com/qualis/product/organic-red-delicious-apple/" title="Organic Red Delicious Apple">Organic Red Delicious Apple</a></div>
                                                <div class="item-content">
                                                    <div class="rating">
                                                        <div class="ratings">
                                                            <div class="star-rating" role="img" aria-label="Rated 2.00 out of 5"><span style="width:40%">Rated <strong class="rating">2.00</strong> out of 5</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="item-price">
                                                        <div class="price-box"><span class="regular-price"><span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>8.00</bdi></span></span> </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-after-add-to-cart tinvwl-loop-button-wrapper" data-product_id="115">
                                        <div class="tinv-wishlist-clear"></div>
                                        <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after tinvwl-loop" data-tinv-wl-list="[]" data-tinv-wl-product="115" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                        <div class="tinv-wishlist-clear"></div>
                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                    </div>
                                </li>
                                <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a href="https://klbtheme.com/qualis/product/organic-strawberry/" title="Organic Strawberry" class="product-image"> <img onload="Wpfcll.r(this,true);" src="https://klbtheme.com/qualis/wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" data-wpfc-original-src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p11.jpg" alt="Organic Strawberry"></a>
                                                <div class="sale-label sale-top-left">-25%</div>
                                                <div class="item-box-hover">
                                                    <div class="box-inner">
                                                        <div class="product-detail-bnt"><a class="button detail-bnt" id="120"><span>Quick View</span></a></div>
                                                        <div class="actions">
                                                            <span class="add-to-links">
                                                                <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart" data-product_id="120">
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-shortcode" data-tinv-wl-list="[]" data-tinv-wl-product="120" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                                    <div class="tinv-wishlist-clear"></div>
                                                                    <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="add_cart"><a href="https://klbtheme.com/qualis/product/organic-strawberry/" data-quantity="1" class="button btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="120" data-product_sku="KJ2SA62" aria-label="Read more about &ldquo;Organic Strawberry&rdquo;" rel="nofollow"><span>Read more</span></a></div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"><a href="https://klbtheme.com/qualis/product/organic-strawberry/" title="Organic Strawberry">Organic Strawberry</a></div>
                                                <div class="item-content">
                                                    <div class="rating">
                                                        <div class="ratings">
                                                            <div class="star-rating" role="img" aria-label="Rated 3.00 out of 5"><span style="width:60%">Rated <strong class="rating">3.00</strong> out of 5</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="item-price">
                                                        <div class="price-box"><span class="regular-price"><span class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>12.00</bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>9.00</bdi></span></ins></span> </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-after-add-to-cart tinvwl-loop-button-wrapper" data-product_id="120">
                                        <div class="tinv-wishlist-clear"></div>
                                        <a role="button" tabindex="0" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after tinvwl-loop" data-tinv-wl-list="[]" data-tinv-wl-product="120" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                        <div class="tinv-wishlist-clear"></div>
                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="toolbar bottom">
                            <div class="display-product-option">
                                <div class="pages">
                                    <nav class="woocommerce-pagination">
                                        <ul class='page-numbers'>
                                            <li><span aria-current="page" class="page-numbers current">1</span></li>
                                            <li><a class="page-numbers" href="https://klbtheme.com/qualis/shop/page/2/">2</a></li>
                                            <li><a class="next page-numbers" href="https://klbtheme.com/qualis/shop/page/2/">&rarr;</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <aside class="col-left sidebar shop-sidebar col-sm-3 col-xs-12 col-sm-pull-9">
                <div class="block woocommerce widget_price_filter">
                    <div class="block-title">Filter by price</div>
                    <form method="get" action="https://klbtheme.com/qualis/shop/">
                        <div class="price_slider_wrapper">
                            <div class="price_slider" style="display:none;"></div>
                            <div class="price_slider_amount" data-step="10">
                                <input type="text" id="min_price" name="min_price" value="0" data-min="0" placeholder="Min price" />
                                <input type="text" id="max_price" name="max_price" value="60" data-max="60" placeholder="Max price" />
                                <button type="submit" class="button">Filter</button>
                                <div class="price_label" style="display:none;"> Price: <span class="from"></span> &mdash; <span class="to"></span></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="block woocommerce widget_product_categories">
                    <div class="block-title">Product categories</div>
                    <ul class="product-categories">
                        <li class="cat-item cat-item-30"><a href="https://klbtheme.com/qualis/product-category/beans/">Beans</a></li>
                        <li class="cat-item cat-item-31"><a href="https://klbtheme.com/qualis/product-category/berries/">Berries</a></li>
                        <li class="cat-item cat-item-32"><a href="https://klbtheme.com/qualis/product-category/citrus/">Citrus</a></li>
                        <li class="cat-item cat-item-33 cat-parent">
                            <a href="https://klbtheme.com/qualis/product-category/fruits/">Fruits</a>
                            <ul class='children'>
                                <li class="cat-item cat-item-52 cat-parent">
                                    <a href="https://klbtheme.com/qualis/product-category/fruits/berries-cherries/">Berries % Cherries</a>
                                    <ul class='children'>
                                        <li class="cat-item cat-item-54"><a href="https://klbtheme.com/qualis/product-category/fruits/berries-cherries/blackberries/">Blackberries</a></li>
                                        <li class="cat-item cat-item-56"><a href="https://klbtheme.com/qualis/product-category/fruits/berries-cherries/cherries/">Cherries</a></li>
                                        <li class="cat-item cat-item-89"><a href="https://klbtheme.com/qualis/product-category/fruits/berries-cherries/raspberries/">Raspberries</a></li>
                                        <li class="cat-item cat-item-95"><a href="https://klbtheme.com/qualis/product-category/fruits/berries-cherries/strawberries/">Strawberries</a></li>
                                    </ul>
                                </li>
                                <li class="cat-item cat-item-57 cat-parent">
                                    <a href="https://klbtheme.com/qualis/product-category/fruits/citrus-fruits/">Citrus Fruits</a>
                                    <ul class='children'>
                                        <li class="cat-item cat-item-65"><a href="https://klbtheme.com/qualis/product-category/fruits/citrus-fruits/fresh-oranges/">Fresh Oranges</a></li>
                                        <li class="cat-item cat-item-68"><a href="https://klbtheme.com/qualis/product-category/fruits/citrus-fruits/grapefruits/">Grapefruits</a></li>
                                        <li class="cat-item cat-item-81"><a href="https://klbtheme.com/qualis/product-category/fruits/citrus-fruits/organic-limes/">Organic Limes</a></li>
                                        <li class="cat-item cat-item-102"><a href="https://klbtheme.com/qualis/product-category/fruits/citrus-fruits/yellow-lemons/">Yellow Lemons</a></li>
                                    </ul>
                                </li>
                                <li class="cat-item cat-item-35 cat-parent">
                                    <a href="https://klbtheme.com/qualis/product-category/fruits/large-fruits/">Large Fruits</a>
                                    <ul class='children'>
                                        <li class="cat-item cat-item-64"><a href="https://klbtheme.com/qualis/product-category/fruits/large-fruits/fresh-melons/">Fresh Melons</a></li>
                                        <li class="cat-item cat-item-69"><a href="https://klbtheme.com/qualis/product-category/fruits/large-fruits/grapefruits-large-fruits/">Grapefruits</a></li>
                                        <li class="cat-item cat-item-38"><a href="https://klbtheme.com/qualis/product-category/fruits/large-fruits/organic-papayas/">Organic Papayas</a></li>
                                        <li class="cat-item cat-item-39"><a href="https://klbtheme.com/qualis/product-category/fruits/large-fruits/pineapples/">Pineapples</a></li>
                                    </ul>
                                </li>
                                <li class="cat-item cat-item-41 cat-parent">
                                    <a href="https://klbtheme.com/qualis/product-category/fruits/seasonal-fruits/">Seasonal Fruits</a>
                                    <ul class='children'>
                                        <li class="cat-item cat-item-53"><a href="https://klbtheme.com/qualis/product-category/fruits/seasonal-fruits/black-jamuns/">Black Jamuns</a></li>
                                        <li class="cat-item cat-item-63"><a href="https://klbtheme.com/qualis/product-category/fruits/seasonal-fruits/fresh-mangos/">Fresh Mangos</a></li>
                                        <li class="cat-item cat-item-78"><a href="https://klbtheme.com/qualis/product-category/fruits/seasonal-fruits/longans/">Longans</a></li>
                                        <li class="cat-item cat-item-82"><a href="https://klbtheme.com/qualis/product-category/fruits/seasonal-fruits/organic-litchis/">Organic Litchis</a></li>
                                    </ul>
                                </li>
                                <li class="cat-item cat-item-42 cat-parent">
                                    <a href="https://klbtheme.com/qualis/product-category/fruits/stone-fruits/">Stone Fruits</a>
                                    <ul class='children'>
                                        <li class="cat-item cat-item-60"><a href="https://klbtheme.com/qualis/product-category/fruits/stone-fruits/doughnut-peachs/">Doughnut Peachs</a></li>
                                        <li class="cat-item cat-item-75"><a href="https://klbtheme.com/qualis/product-category/fruits/stone-fruits/italian-fruits/">Italian Fruits</a></li>
                                        <li class="cat-item cat-item-80"><a href="https://klbtheme.com/qualis/product-category/fruits/stone-fruits/nectarines/">Nectarines</a></li>
                                        <li class="cat-item cat-item-43"><a href="https://klbtheme.com/qualis/product-category/fruits/stone-fruits/sweet-apricots/">Sweet Apricots</a></li>
                                    </ul>
                                </li>
                                <li class="cat-item cat-item-44 cat-parent">
                                    <a href="https://klbtheme.com/qualis/product-category/fruits/tropical-fruits/">Tropical Fruits</a>
                                    <ul class='children'>
                                        <li class="cat-item cat-item-58"><a href="https://klbtheme.com/qualis/product-category/fruits/tropical-fruits/coconuts/">Coconuts</a></li>
                                        <li class="cat-item cat-item-61"><a href="https://klbtheme.com/qualis/product-category/fruits/tropical-fruits/dragonfruits/">Dragonfruits</a></li>
                                        <li class="cat-item cat-item-85"><a href="https://klbtheme.com/qualis/product-category/fruits/tropical-fruits/passionfruit/">Passionfruit</a></li>
                                        <li class="cat-item cat-item-88"><a href="https://klbtheme.com/qualis/product-category/fruits/tropical-fruits/pomegranates/">Pomegranates</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="cat-item cat-item-34"><a href="https://klbtheme.com/qualis/product-category/juices/">Juices</a></li>
                        <li class="cat-item cat-item-36"><a href="https://klbtheme.com/qualis/product-category/lettuce/">Lettuce</a></li>
                        <li class="cat-item cat-item-37"><a href="https://klbtheme.com/qualis/product-category/meats/">Meats</a></li>
                        <li class="cat-item cat-item-40 cat-parent">
                            <a href="https://klbtheme.com/qualis/product-category/salads/">Salads</a>
                            <ul class='children'>
                                <li class="cat-item cat-item-50 cat-parent">
                                    <a href="https://klbtheme.com/qualis/product-category/salads/bagged-salads/">Bagged Salads</a>
                                    <ul class='children'>
                                        <li class="cat-item cat-item-103"><a href="https://klbtheme.com/qualis/product-category/salads/bagged-salads/australia-green-kale/">Australia Green Kale</a></li>
                                        <li class="cat-item cat-item-74"><a href="https://klbtheme.com/qualis/product-category/salads/bagged-salads/italian-baby-spinach/">Italian Baby Spinach</a></li>
                                        <li class="cat-item cat-item-83"><a href="https://klbtheme.com/qualis/product-category/salads/bagged-salads/oro-rocket-salad/">Oro Rocket Salad</a></li>
                                        <li class="cat-item cat-item-98"><a href="https://klbtheme.com/qualis/product-category/salads/bagged-salads/sustenir-fresh-toscano/">Sustenir Fresh Toscano</a></li>
                                    </ul>
                                </li>
                                <li class="cat-item cat-item-55 cat-parent">
                                    <a href="https://klbtheme.com/qualis/product-category/salads/bread-salads/">Bread Salads</a>
                                    <ul class='children'>
                                        <li class="cat-item cat-item-70"><a href="https://klbtheme.com/qualis/product-category/salads/bread-salads/green-goddess/">Green Goddess</a></li>
                                        <li class="cat-item cat-item-71"><a href="https://klbtheme.com/qualis/product-category/salads/bread-salads/green-tomato/">Green Tomato</a></li>
                                        <li class="cat-item cat-item-72"><a href="https://klbtheme.com/qualis/product-category/salads/bread-salads/grilled-broccoli/">Grilled Broccoli</a></li>
                                        <li class="cat-item cat-item-84"><a href="https://klbtheme.com/qualis/product-category/salads/bread-salads/panzanella/">Panzanella</a></li>
                                    </ul>
                                </li>
                                <li class="cat-item cat-item-62 cat-parent">
                                    <a href="https://klbtheme.com/qualis/product-category/salads/dressing-salads/">Dressing Salads</a>
                                    <ul class='children'>
                                        <li class="cat-item cat-item-67"><a href="https://klbtheme.com/qualis/product-category/salads/dressing-salads/giuseppe-giusti/">Giuseppe Giusti</a></li>
                                        <li class="cat-item cat-item-73"><a href="https://klbtheme.com/qualis/product-category/salads/dressing-salads/hellmanns/">Hellmann's</a></li>
                                        <li class="cat-item cat-item-100"><a href="https://klbtheme.com/qualis/product-category/salads/dressing-salads/unitednature/">Unitednature</a></li>
                                        <li class="cat-item cat-item-101"><a href="https://klbtheme.com/qualis/product-category/salads/dressing-salads/walden-farms/">Walden Farms</a></li>
                                    </ul>
                                </li>
                                <li class="cat-item cat-item-66 cat-parent">
                                    <a href="https://klbtheme.com/qualis/product-category/salads/fruits-salads/">Fruits Salads</a>
                                    <ul class='children'>
                                        <li class="cat-item cat-item-87"><a href="https://klbtheme.com/qualis/product-category/salads/fruits-salads/pineapples-fruits-salads/">Pineapples</a></li>
                                        <li class="cat-item cat-item-90"><a href="https://klbtheme.com/qualis/product-category/salads/fruits-salads/red-apple/">Red Apple</a></li>
                                        <li class="cat-item cat-item-93"><a href="https://klbtheme.com/qualis/product-category/salads/fruits-salads/row-mangos/">Row Mangos</a></li>
                                        <li class="cat-item cat-item-96"><a href="https://klbtheme.com/qualis/product-category/salads/fruits-salads/strawberries-fruits-salads/">Strawberries</a></li>
                                    </ul>
                                </li>
                                <li class="cat-item cat-item-77 cat-parent">
                                    <a href="https://klbtheme.com/qualis/product-category/salads/lettuce-salads/">Lettuce Salads</a>
                                    <ul class='children'>
                                        <li class="cat-item cat-item-104"><a href="https://klbtheme.com/qualis/product-category/salads/lettuce-salads/butterhead/">Butterhead</a></li>
                                        <li class="cat-item cat-item-91"><a href="https://klbtheme.com/qualis/product-category/salads/lettuce-salads/red-coral/">Red Coral</a></li>
                                        <li class="cat-item cat-item-92"><a href="https://klbtheme.com/qualis/product-category/salads/lettuce-salads/rolla-rosa-lettuce/">Rolla Rosa Lettuce</a></li>
                                        <li class="cat-item cat-item-97"><a href="https://klbtheme.com/qualis/product-category/salads/lettuce-salads/summercrisp/">Summercrisp</a></li>
                                    </ul>
                                </li>
                                <li class="cat-item cat-item-45 cat-parent">
                                    <a href="https://klbtheme.com/qualis/product-category/salads/veg-salads/">Veg Salads</a>
                                    <ul class='children'>
                                        <li class="cat-item cat-item-48"><a href="https://klbtheme.com/qualis/product-category/salads/veg-salads/avocados/">Avocados</a></li>
                                        <li class="cat-item cat-item-59"><a href="https://klbtheme.com/qualis/product-category/salads/veg-salads/cucumbers/">Cucumbers</a></li>
                                        <li class="cat-item cat-item-86"><a href="https://klbtheme.com/qualis/product-category/salads/veg-salads/peppers-capsicums/">Peppers &amp; Capsicums</a></li>
                                        <li class="cat-item cat-item-99"><a href="https://klbtheme.com/qualis/product-category/salads/veg-salads/tomatoes/">Tomatoes</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="cat-item cat-item-15"><a href="https://klbtheme.com/qualis/product-category/uncategorized/">Uncategorized</a></li>
                        <li class="cat-item cat-item-46 cat-parent">
                            <a href="https://klbtheme.com/qualis/product-category/vegetables/">Vegetables</a>
                            <ul class='children'>
                                <li class="cat-item cat-item-47"><a href="https://klbtheme.com/qualis/product-category/vegetables/asian-vegetables/">Asian Vegetables</a></li>
                                <li class="cat-item cat-item-49"><a href="https://klbtheme.com/qualis/product-category/vegetables/baby-vegetables/">Baby Vegetables</a></li>
                                <li class="cat-item cat-item-51"><a href="https://klbtheme.com/qualis/product-category/vegetables/beans-vegetables/">Beans Vegetables</a></li>
                                <li class="cat-item cat-item-76"><a href="https://klbtheme.com/qualis/product-category/vegetables/leafy-vegetables/">Leafy Vegetables</a></li>
                                <li class="cat-item cat-item-79"><a href="https://klbtheme.com/qualis/product-category/vegetables/mushrooms/">Mushrooms</a></li>
                                <li class="cat-item cat-item-94"><a href="https://klbtheme.com/qualis/product-category/vegetables/salad-vegetables/">Salad Vegetables</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="block widget_product_slider">
                    <div class="custom-slider">
                        <div>
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li class="active" data-target="#carousel-example-generic" data-slide-to="0"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img onload="Wpfcll.r(this,true);" src="https://klbtheme.com/qualis/wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" data-wpfc-original-src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/slide2.jpg" alt="slide3">
                                        <div class="carousel-caption">
                                            <h4>Fruit Shop</h4>
                                            <h3><a href="http://klbtheme.com/qualis/product/organic-grape-tomatoes/">Up to 70% Off</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            <a class="link" href="http://klbtheme.com/qualis/product/organic-grape-tomatoes/">Buy Now</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img onload="Wpfcll.r(this,true);" src="https://klbtheme.com/qualis/wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" data-wpfc-original-src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/slide3.jpg" alt="slide3">
                                        <div class="carousel-caption">
                                            <h4>Black Grapes</h4>
                                            <h3><a href="http://klbtheme.com/qualis/product/fresh-red-seedless/">Mega Sale</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            <a class="link" href="http://klbtheme.com/qualis/product/fresh-red-seedless/">Buy Now</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img onload="Wpfcll.r(this,true);" src="https://klbtheme.com/qualis/wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" data-wpfc-original-src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/slide1.jpg" alt="slide3">
                                        <div class="carousel-caption">
                                            <h4>Food Farm</h4>
                                            <h3><a href="http://klbtheme.com/qualis/product/organic-sweet-corn/">Up to 50% Off</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            <a class="link" href="http://klbtheme.com/qualis/product/organic-sweet-corn/">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block woocommerce widget_top_rated_products">
                    <div class="block-title">Top rated products</div>
                    <ul class="product_list_widget">
                        <li>
                            <a href="https://klbtheme.com/qualis/product/fresh-red-seedless/"> <img onload="Wpfcll.r(this,true);" src="https://klbtheme.com/qualis/wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" width="80" height="80" data-wpfc-original-src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p16-80x80.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="blank" loading="lazy" data-wpfc-original-srcset="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p16-80x80.jpg 80w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p16-150x150.jpg 150w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p16-300x300.jpg 300w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p16-768x768.jpg 768w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p16-450x450.jpg 450w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p16-600x600.jpg 600w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p16-99x99.jpg 99w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p16.jpg 800w" data-wpfc-original-sizes="(max-width: 80px) 100vw, 80px" /> <span class="product-title">Fresh Red Seedless</span> </a>
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                            <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>50.00</bdi></span> &ndash; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>60.00</bdi></span>
                        </li>
                        <li>
                            <a href="https://klbtheme.com/qualis/product/fresh-organic-mustard-leaves/"> <img onload="Wpfcll.r(this,true);" src="https://klbtheme.com/qualis/wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" width="80" height="80" data-wpfc-original-src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p12-80x80.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="blank" loading="lazy" data-wpfc-original-srcset="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p12-80x80.jpg 80w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p12-150x150.jpg 150w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p12-300x300.jpg 300w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p12-768x768.jpg 768w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p12-450x450.jpg 450w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p12-600x600.jpg 600w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p12-99x99.jpg 99w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p12.jpg 800w" data-wpfc-original-sizes="(max-width: 80px) 100vw, 80px" /> <span class="product-title">Fresh Organic Mustard Leaves</span> </a>
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                            <del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>9.00</bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>6.00</bdi></span></ins>
                        </li>
                        <li>
                            <a href="https://klbtheme.com/qualis/product/organic-grape-tomatoes/"> <img onload="Wpfcll.r(this,true);" src="https://klbtheme.com/qualis/wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" width="80" height="80" data-wpfc-original-src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p3-80x80.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="blank" loading="lazy" data-wpfc-original-srcset="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p3-80x80.jpg 80w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p3-150x150.jpg 150w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p3-300x300.jpg 300w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p3-768x768.jpg 768w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p3-450x450.jpg 450w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p3-600x600.jpg 600w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p3-99x99.jpg 99w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p3.jpg 800w" data-wpfc-original-sizes="(max-width: 80px) 100vw, 80px" /> <span class="product-title">Organic Grape Tomatoes</span> </a>
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                            <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>7.99</bdi></span>
                        </li>
                        <li>
                            <a href="https://klbtheme.com/qualis/product/organic-sweet-banana/"> <img onload="Wpfcll.r(this,true);" src="https://klbtheme.com/qualis/wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" width="80" height="80" data-wpfc-original-src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p6-80x80.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="blank" loading="lazy" data-wpfc-original-srcset="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p6-80x80.jpg 80w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p6-150x150.jpg 150w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p6-300x300.jpg 300w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p6-768x768.jpg 768w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p6-450x450.jpg 450w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p6-600x600.jpg 600w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p6-99x99.jpg 99w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p6.jpg 800w" data-wpfc-original-sizes="(max-width: 80px) 100vw, 80px" /> <span class="product-title">Organic Sweet Banana</span> </a>
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                            <del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>18.00</bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>15.00</bdi></span></ins>
                        </li>
                        <li>
                            <a href="https://klbtheme.com/qualis/product/washed-sugar-snap-peas/"> <img onload="Wpfcll.r(this,true);" src="https://klbtheme.com/qualis/wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" width="80" height="80" data-wpfc-original-src="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p8-80x80.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="blank" loading="lazy" data-wpfc-original-srcset="https://klbtheme.com/qualis/wp-content/uploads/2018/12/p8-80x80.jpg 80w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p8-150x150.jpg 150w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p8-300x300.jpg 300w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p8-768x768.jpg 768w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p8-450x450.jpg 450w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p8-600x600.jpg 600w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p8-99x99.jpg 99w, https://klbtheme.com/qualis/wp-content/uploads/2018/12/p8.jpg 800w" data-wpfc-original-sizes="(max-width: 80px) 100vw, 80px" /> <span class="product-title">Washed Sugar Snap Peas</span> </a>
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                            <del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>5.00</bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&pound;</span>4.00</bdi></span></ins>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</section>
<div class="loader-image" style="display:none;"></div>
<div class="ajaxphp-results"></div>
<div class="container">
    <div class="row our-features-box">
        <ul>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-truck"></i>
                    <div class="content">FREE SHIPPING on order over $99</div>
                </div>
            </li>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-phone"></i>
                    <div class="content">HAVE A QUESTIONS? <a href="10800 7890000">+10800 789 0000</a></div>
                </div>
            </li>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-usd"></i>
                    <div class="content">100% MONEY BACK GUARANTEE</div>
                </div>
            </li>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-briefcase"></i>
                    <div class="content">30 DAYS RETURN SERVICE</div>
                </div>
            </li>
            <li class="last">
                <div class="feature-box"> <a href="#"><i class="fa fa-apple"></i> Download</a> <a href="#"><i class="fa fa-android"></i> Download</a></div>
            </li>
        </ul>
    </div>
</div>