

    <div class="row">
      <div class="col-sm-12">
<!-- Hover table card start -->
<app-card [title]="'Messages'" [classHeader]="true" [blockClass]="'table-border-style'">
  <span class="code-header">All Messages Detail</span>



<br>
<div class="table-responsive"style="padding: 2%;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th (click)="Sort('id')">#<i class="fa fa-sort"></i></th>
          <th (click)="Sort('name')" > Name <i class="fa fa-sort"></i></th>
          <th (click)="Sort('email')">email <i class="fa fa-sort"></i></th>
          <th (click)="Sort('phone')">Subject<i class="fa fa-sort"></i></th>
          <th (click)="Sort('address')">Message <i class="fa fa-sort"></i></th>
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of messages | paginate:{itemsPerPage:10,currentPage:p}; let i=index;">
        <td style="width: 2px;">{{i+1}}</td>
          <th >{{item?.name}}</th>
          <th>{{item?.email}}</th>
          <th>
           
            <details>
              <summary >{{item.subject}}</summary>
              <p >{{item?.subject}}</p>
            </details>
            
          </th>
          <th>
            <details>
              <summary>{{item?.message}}</summary>
              <p>{{item?.message}}</p>
            </details>
            </th>
       
      </tr> 
    </tbody>
   </table>
  <div class="row">
    <div style="right: 10%;">
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
</div>
</div>

</app-card>
      </div>
    </div>

    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
      <p style="color: white">Please Wait. </p>  
      </ngx-spinner> 


  
