
@{
    ViewData["Title"] = "INdex";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="page-heading">
    <div class="page-title">
        <h2>About Us</h2>
    </div>
</div>
<div class="container">
    <div class="vc_row wpb_row vc_row-fluid form_background">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element">
                        <div class="wpb_wrapper">
                            <p>The Khan Organic Foods company is proud to be based out of Lahore, Pakistan. We grow & source herbal, natural & organic foods & beauty products and bring them right to your doorstep.</p>
                            <p>&nbsp;</p>
                            <p>Health is the wholeness and integrity of living systems. In a time where humans are taking away the goodness of nature, we strive to turn the wheel full circle by preserving it.</p>
                            <p>&nbsp;</p>
                            <p>Khan Organic Foods is involved in the business of organic food products. The company has a slogan of “Eat Healthy and Live Healthy”. The entity has planned to initially offer dates and dry fruits. The portfolio of the food products will grow gradually, with inclusion of several potent, organic and nutritional products. Moreover, the company has also planned to vacuum package their products to increase the shelf life and attractiveness to entice the retail customer base.</p>
                            <p>&nbsp;</p>
                            <p>Vacuum sealers preserve food by preventing the growth of mold or bacteria. It deprives the food of oxygen. Mold and bacteria cannot grow without oxygen. It protects the food from dehydration and freezer burn. Whereas, freezer burn occurs when water gets into your food. The vacuum bag keeps your food from contact with the air, so moisture cannot evaporate, making it an excellent barrier from the elements. The shelf life of your food is greatly extended when you vacuum seal it. Vacuum sealing food preserves it 4 to 5 times longer than food stored in plastic containers or bags. The exact amount of time food will last in vacuum sealing varies depending on whether you are storing in the refrigerator, freezer or pantry. Frozen food that is vacuum sealed lasts an average of 2-3 years, while it will last 6-12 months, on average, stored in other ways. Most vacuum sealed foods will last in the refrigerator for 1-2 weeks, which is much longer than the typical 1-3 days’ food will last when stored conventionally in a refrigerator.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row our-features-box">
        <ul>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-truck"></i>
                    <div class="content">FREE SHIPPING in Lahore</div>
                </div>
            </li>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-phone"></i>
                    <div class="content">HAVE A QUESTIONS? <a href="+923107771866">+92 3107771866</a></div>
                </div>
            </li>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-usd"></i>
                    <div class="content">100% MONEY BACK GUARANTEE</div>
                </div>
            </li>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-briefcase"></i>
                    <div class="content">30 DAYS RETURN SERVICE</div>
                </div>
            </li>
         
        </ul>
    </div>
</div>