
@inject KOF.Context.ApplicationDbContext _dbContext
@{
    ViewData["Title"] = "INdex";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";

    var categories = _dbContext.Categories.Where(x => x.Status == true).ToList();

    var products = _dbContext.Products.ToList();
}

<div class="content">
    <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <p class="rs-p-wp-fix"></p>
                    <rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
                        <rs-module id="rev_slider_1_1" style="display:none;" data-version="6.2.1">
                            <rs-slides>
                                <rs-slide data-key="rs-1" data-title="Slide" data-thumb="/WebContent/qualis/wp-content/uploads/revslider/qualisdemo1/img-slide-1.jpg" data-anim="ei:d;eo:d;s:600;r:0;t:fade;sl:d;">
                                    <img src="/WebContent/qualis/wp-content/plugins/revslider/public/assets/assets/dummy.png" title="Home" data-lazyload="/WebContent/qualis/wp-content/uploads/revslider/qualisdemo1/img-slide-1.jpg" data-bg="p:left top;" data-parallax="off" class="rev-slidebg" data-no-retina>
                                    <rs-group id="slider-1-slide-1-layer-3"
                                              data-type="group"
                                              data-xy="x:c;y:m;yo:0,0,0,-90px;"
                                              data-text="l:22;a:inherit;"
                                              data-dim="w:300px;h:300px,300px,300px,100px;"
                                              data-frame_0="tp:600;"
                                              data-frame_1="tp:600;sR:10;"
                                              data-frame_999="o:0;tp:600;st:w;sR:8690;sA:9000;"
                                              style="z-index:5;">
                                        <rs-layer id="slider-1-slide-1-layer-1"
                                                  data-type="text"
                                                  data-rsp_ch="on"
                                                  data-xy="x:c;"
                                                  data-color="#2E315A"
                                                  data-text="s:60,60,60,18;l:70,70,70,17;a:inherit;"
                                                  data-frame_0="tp:600;"
                                                  data-frame_1="tp:600;"
                                                  data-frame_999="o:0;tp:600;st:w;sR:8690;"
                                                  style="z-index: 6; font-family: Oswald; color: #82B538 !important;">FRESH FOOD </rs-layer>
                                        <rs-layer id="slider-1-slide-1-layer-4"
                                                  data-type="text"
                                                  data-color="#2E315A"
                                                  data-rsp_ch="on"
                                                  data-xy="x:c;y:m;yo:-20px,-20px,-20px,0;"
                                                  data-text="s:100,100,86,34;l:20;fw:600;a:inherit;"
                                                  data-padding="r:4;"
                                                  data-frame_0="tp:600;"
                                                  data-frame_1="tp:600;"
                                                  data-frame_999="o:0;tp:600;st:w;sR:8690;"
                                                  style="z-index: 7; font-family: Oswald; color: #82B538 !important;">SIMPLY DELICIOUS </rs-layer>
                                        <rs-layer id="slider-1-slide-1-layer-6"
                                                  data-type="text"
                                                  data-color="#2E315A"
                                                  data-rsp_ch="on"
                                                  data-xy="x:c,c,c,l;xo:0,0,0,484px;y:m,m,m,t;yo:60px,60px,60px,519px;"
                                                  data-text="s:26;l:20;fw:600;a:inherit;"
                                                  data-vbility="t,t,t,f"
                                                  data-frame_0="tp:600;"
                                                  data-frame_1="tp:600;"
                                                  data-frame_999="o:0;tp:600;st:w;sR:8690;"
                                                  style="z-index: 8; font-family: Open Sans; color: #82B538 !important;">We supply highly quality organic products </rs-layer>

                                    </rs-group>
                                </rs-slide>
                                <rs-slide data-key="rs-2" data-title="Slide" data-thumb="/WebContent/qualis/wp-content/uploads/revslider/qualisdemo1/img-slide-2.jpg" data-anim="ei:d;eo:d;s:600;r:0;t:fade;sl:d;">
                                    <img src="/WebContent/qualis/wp-content/plugins/revslider/public/assets/assets/dummy.png" title="Home" data-lazyload="/WebContent/qualis/wp-content/uploads/revslider/qualisdemo1/img-slide-2.jpg" data-bg="p:left top;" data-parallax="off" class="rev-slidebg" data-no-retina>
                                    <rs-group id="slider-1-slide-2-layer-3"
                                              data-type="group"
                                              data-xy="x:c;y:m;yo:0,0,0,-90px;"
                                              data-text="l:22;a:inherit;"
                                              data-dim="w:300px;h:300px,300px,300px,100px;"
                                              data-frame_0="tp:600;"
                                              data-frame_1="tp:600;sR:10;"
                                              data-frame_999="o:0;tp:600;st:w;sR:8690;sA:9000;"
                                              style="z-index:5;">
                                        <rs-layer id="slider-1-slide-2-layer-1"
                                                  data-type="text"
                                                  data-rsp_ch="on"
                                                  data-color="#2E315A"
                                                  data-xy="x:c;"
                                                  data-text="s:60,60,60,18;l:70,70,70,17;a:inherit;"
                                                  data-frame_0="tp:600;"
                                                  data-frame_1="tp:600;"
                                                  data-frame_999="o:0;tp:600;st:w;sR:8690;"
                                                  style="z-index: 6; font-family: Oswald; color: #82B538;">FRESH LOOK </rs-layer>
                                        <rs-layer id="slider-1-slide-2-layer-4"
                                                  data-type="text"  
                                                  data-color="#2E315A"
                                                  data-rsp_ch="on"
                                                  data-xy="x:c;y:m;yo:-20px,-20px,-20px,0;"
                                                  data-text="s:100,100,86,34;l:20;fw:600;a:inherit;"
                                                  data-padding="r:4;"
                                                  data-frame_0="tp:600;"
                                                  data-frame_1="tp:600;"
                                                  data-frame_999="o:0;tp:600;st:w;sR:8690;"
                                                  style="z-index: 7; font-family: Oswald; color: #82B538;">100% ORGANIC </rs-layer>
                                        <rs-layer id="slider-1-slide-2-layer-6"
                                                  data-type="text"
                                                  data-color="#2E315A"
                                                  data-rsp_ch="on"
                                                  data-xy="x:c,c,c,l;xo:0,0,0,484px;y:m,m,m,t;yo:60px,60px,60px,519px;"
                                                  data-text="s:26;l:20;fw:600;a:inherit;"
                                                  data-vbility="t,t,t,f"
                                                  data-frame_0="tp:600;"
                                                  data-frame_1="tp:600;"
                                                  data-frame_999="o:0;tp:600;st:w;sR:8690;"
                                                  style="z-index: 8; font-family: Open Sans; color: #82B538;">Farm Fresh Produce Right to Your Door </rs-layer>
                                       
                                    </rs-group>
                                </rs-slide>
                            </rs-slides>
                            <rs-progress style="height: 5px; background: rgba(0,0,0,0.15);"></rs-progress>
                        </rs-module>
                    </rs-module-wrap>
                    <div class="top-cate">
                        <div class="featured-pro container">
                            <div class="row">
                                <div class="slider-items-products">
                                    <div id="top-categories" class="product-flexslider hidden-buttons">
                                        <div class="slider-items slider-width-col4 products-grid">
                                            @foreach (var item in categories)
                                            {
                                                <div class="item">
                                                    <a href="@Url.Action("ProductGridView","Home",new {id=item.Id })">
                                                        <div class="pro-img">
                                                            <img onload="Wpfcll.r(this,true);" src="/Images/CategoryImages/@Url.Content(item.ImageUrl)" data-wpfc-original-src="/Images/CategoryImages/@Url.Content(item.ImageUrl)" alt="Beans">
                                                            <div class="pro-info">@item.Name</div>
                                                        </div>
                                                    </a>
                                                </div>
                                            }


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row-full-width vc_clearfix"></div>
    <div class="container">
        <div class="vc_row wpb_row vc_row-fluid">
            <style>
                @@media(max-width:768px) and (min-width:320px) {
                    .vc_row .klb_xs_vc_custom_1544605181183 {
                        padding-left: 15px !important;
                    }
                }
            </style>
            <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner vc_custom_1544605181180 klb_xs_vc_custom_1544605181183">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left" src="/">
                            <figure class="wpb_wrapper vc_figure"> <a href="#" target="_self" class="vc_single_image-wrapper vc_box_border_grey"><img width="605" height="350" src="/WebContent/qualis/wp-content/uploads/2018/12/banner-img1.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="banner-img1" srcset="/WebContent/qualis/wp-content/uploads/2018/12/banner-img1.jpg 605w, /WebContent/qualis/wp-content/uploads/2018/12/banner-img1-300x174.jpg 300w, /WebContent/qualis/wp-content/uploads/2018/12/banner-img1-600x347.jpg 600w" sizes="(max-width: 605px) 100vw, 605px" /></a> </figure>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                @@media(max-width:768px) and (min-width:320px) {
                    .vc_row .klb_xs_vc_custom_1544605273524 {
                        padding-right: 15px !important;
                    }
                }
            </style>
            <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner vc_custom_1544605273521 klb_xs_vc_custom_1544605273524">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left">
                            <figure class="wpb_wrapper vc_figure"> <a href="#" target="_self" class="vc_single_image-wrapper vc_box_border_grey"><img width="605" height="350" src="/WebContent/qualis/wp-content/uploads/2018/12/banner-img2.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="banner-img2" srcset="/WebContent/qualis/wp-content/uploads/2018/12/banner-img2.jpg 605w, /WebContent/qualis/wp-content/uploads/2018/12/banner-img2-300x174.jpg 300w, /WebContent/qualis/wp-content/uploads/2018/12/banner-img2-600x347.jpg 600w" sizes="(max-width: 605px) 100vw, 605px" /></a> </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="hot-section" style="background: url(/WebContent/qualis/wp-content/uploads/2019/01/slider-07.jpg) no-repeat 0 0px; filter: grayscale(50%);">
                        <div class="container">
                            <div class="row">
                                <div class="ad-info" >
                                    <h2 style="color: #2E315A !important;">HEALTHY SNACKS!</h2>
                                    <h3 style="color: #2E315A !important;">Having Fruits Make You Fresh And Having Dry Fruits Makes You Refreshed</h3>
                                    <h4 style="color: #2E315A !important;">From our family farm right to your doorstep.</h4>
                                </div>
                            </div>
                          
                            <div class="loader-image" style="display:none;"></div>
                            <div class="ajaxphp-results"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row-full-width vc_clearfix"></div>
    <div class="container">
        <div class="vc_row wpb_row vc_row-fluid vc_column-gap-1">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="testimonials-section slider-items-products">
                            <div id="testimonials" class="offer-slider parallax parallax-2">
                                <div class="slider-items slider-width-col6">
                                    <div class="item">
                                        <div class="avatar"><img src="/WebContent/qualis/wp-content/uploads/2018/12/member1.png" alt="Smith John"></div>
                                        <div class="testimonials">Perfect Themes and the best of all that you have many options to choose! Very fast responding! I highly recommend this theme and these people!</div>
                                        <div class="clients_author"> Smith John <span>Happy Customer</span></div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar"><img src="/WebContent/qualis/wp-content/uploads/2018/12/member2.png" alt="Karla Anderson"></div>
                                        <div class="testimonials">Code, template and others are very good. The support has served me immediately and solved my problems when I need help. Are to be congratulated.</div>
                                        <div class="clients_author"> Karla Anderson <span>Happy Customer</span></div>
                                    </div>
                                    <div class="item">
                                        <div class="avatar"><img src="/WebContent/qualis/wp-content/uploads/2018/12/member3.png" alt="Stephen Smith"></div>
                                        <div class="testimonials">Our support and response has been amazing, helping me with several issues I came across and got them solved almost the same day. A pleasure to work with them!</div>
                                        <div class="clients_author"> Stephen Smith <span>Happy Customer</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="vc_row wpb_row vc_row-fluid vc_custom_1545722648407">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="logo-brand">
                            <div class="slider-items-products">
                                <div id="brand-slider" class="product-flexslider hidden-buttons">
                                    <div class="slider-items slider-width-col6">
                                        <div class="item">
                                            <div class="logo-item"><a href="https://themeforest.net/user/klbtheme/portfolio" target="_blank" title="klbtheme"><img src="/WebContent/qualis/wp-content/uploads/2018/12/brand1.png" alt="klbtheme"></a></div>
                                        </div>
                                        <div class="item">
                                            <div class="logo-item"><a href="https://themeforest.net/user/klbtheme/portfolio" target="_blank" title="klbtheme"><img src="/WebContent/qualis/wp-content/uploads/2018/12/brand2.png" alt="klbtheme"></a></div>
                                        </div>
                                        <div class="item">
                                            <div class="logo-item"><a href="https://themeforest.net/user/klbtheme/portfolio" target="_blank" title="klbtheme"><img src="/WebContent/qualis/wp-content/uploads/2018/12/brand3.png" alt="klbtheme"></a></div>
                                        </div>
                                        <div class="item">
                                            <div class="logo-item"><a href="https://themeforest.net/user/klbtheme/portfolio" target="_blank" title="klbtheme"><img src="/WebContent/qualis/wp-content/uploads/2018/12/brand5.png" alt="klbtheme"></a></div>
                                        </div>
                                        <div class="item">
                                            <div class="logo-item"><a href="https://themeforest.net/user/klbtheme/portfolio" target="_blank" title="klbtheme"><img src="/WebContent/qualis/wp-content/uploads/2018/12/brand4.png" alt="klbtheme"></a></div>
                                        </div>
                                        <div class="item">
                                            <div class="logo-item"><a href="https://themeforest.net/user/klbtheme/portfolio" target="_blank" title="klbtheme"><img src="/WebContent/qualis/wp-content/uploads/2018/12/brand6.png" alt="klbtheme"></a></div>
                                        </div>
                                        <div class="item">
                                            <div class="logo-item"><a href="https://themeforest.net/user/klbtheme/portfolio" target="_blank" title="klbtheme"><img src="/WebContent/qualis/wp-content/uploads/2018/12/brand1.png" alt="klbtheme"></a></div>
                                        </div>
                                        <div class="item">
                                            <div class="logo-item"><a href="https://themeforest.net/user/klbtheme/portfolio" target="_blank" title="klbtheme"><img src="/WebContent/qualis/wp-content/uploads/2018/12/brand2.png" alt="klbtheme"></a></div>
                                        </div>
                                        <div class="item">
                                            <div class="logo-item"><a href="https://themeforest.net/user/klbtheme/portfolio" target="_blank" title="klbtheme"><img src="/WebContent/qualis/wp-content/uploads/2018/12/brand3.png" alt="klbtheme"></a></div>
                                        </div>
                                        <div class="item">
                                            <div class="logo-item"><a href="https://themeforest.net/user/klbtheme/portfolio" target="_blank" title="klbtheme"><img src="/WebContent/qualis/wp-content/uploads/2018/12/brand5.png" alt="klbtheme"></a></div>
                                        </div>
                                        <div class="item">
                                            <div class="logo-item"><a href="https://themeforest.net/user/klbtheme/portfolio" target="_blank" title="klbtheme"><img src="/WebContent/qualis/wp-content/uploads/2018/12/brand4.png" alt="klbtheme"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="vc_row-full-width vc_clearfix"></div>
    <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
        <style>
            @@media only screen and (max-width: 479px) and (min-width: 320px) {
                .mid-section {
                    background: #000 url(/WebContent/qualis/wp-content/uploads/2019/01/mid-img.jpg) no-repeat 0 0px !important;
                }
            }
        </style>
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="mid-section" style="background: url(/WebContent/qualis/wp-content/uploads/2019/01/mid-img.jpg) no-repeat 0 0px;">
                        <div class="container">
                            <div class="row">
                                <h3>FRESH ORGANIC FOODS DELIVERY MADE EASY</h3>
                                <h2>SPECIAL PRODUCT</h2>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="block1" style="background:#685c88">
                                        <strong>FRESH FROM OUR FARM</strong>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy habitant morbi</p>
                                    </div>
                                    <div class="block1" style="background:#6ec3f0">
                                        <strong>100% ORGANIC FOODS</strong>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy habitant morbi</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="spl-pro">
                                        <a href="/WebContent/qualis/product/organic-strawberry.html" title="Badam Giri"><img src="/WebContent/qualis/wp-content/uploads/2018/12/p11-318x318.jpg" alt="Badam Giri"></a>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"><a href="#" title="Badam Giri">Badam Giri</a></div>
                                                <div class="item-content">
                                                    <div class="rating">
                                                        <div class="ratings">
                                                            <div class="star-rating" role="img" aria-label="Rated 3.00 out of 5"><span style="width:60%">Rated <strong class="rating">3.00</strong> out of 5</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="block3" style="background:#1bbc9b">
                                        <strong>GOOD FOR HEALTH</strong>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy habitant morbi</p>
                                    </div>
                                    <div class="block3" style="background:#e31837">
                                        <strong>SAFE FROM PESTICIDES</strong>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy habitant morbi</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row-full-width vc_clearfix"></div>
</div>
@*<div class="container">
        <div class="row our-features-box">
            <ul>
                <li>
                    <div class="feature-box klb-footer-box">
                        <i class="fa fa-truck"></i>
                        <div class="content">FREE SHIPPING on order over $99</div>
                    </div>
                </li>
                <li>
                    <div class="feature-box klb-footer-box">
                        <i class="fa fa-phone"></i>
                        <div class="content">HAVE A QUESTIONS? <a href="/WebContent/qualis/108007890000.html">+10800 789 0000</a></div>
                    </div>
                </li>
                <li>
                    <div class="feature-box klb-footer-box">
                        <i class="fa fa-usd"></i>
                        <div class="content">100% MONEY BACK GUARANTEE</div>
                    </div>
                </li>
                <li>
                    <div class="feature-box klb-footer-box">
                        <i class="fa fa-briefcase"></i>
                        <div class="content">30 DAYS RETURN SERVICE</div>
                    </div>
                </li>
                <li class="last">
                    <div class="feature-box"> <a href="#"><i class="fa fa-apple"></i> Download</a> <a href="#"><i class="fa fa-android"></i> Download</a></div>
                </li>
            </ul>
        </div>
    </div>
*@