@{
    ViewData["Title"] = "MyAccount";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="page-heading">
    <div class="page-title">
        <h2>My account</h2>
    </div>
</div>
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="woocommerce">
                <div class="woocommerce-notices-wrapper">
                    <div class="woocommerce-message" role="alert">
                        <a href="https://klbtheme.com/qualis/cart/" tabindex="1" class="button wc-forward">View cart</a> &ldquo;Organic Grape Tomatoes&rdquo; has been added to your cart.
                    </div>
                    <div class="woocommerce-message" role="alert">
                        <a href="https://klbtheme.com/qualis/cart/" tabindex="1" class="button wc-forward">View cart</a> &ldquo;Organic Grape Tomatoes&rdquo; has been added to your cart.
                    </div>
                    <div class="woocommerce-message" role="alert">
                        <a href="https://klbtheme.com/qualis/cart/" tabindex="1" class="button wc-forward">View cart</a> &ldquo;Organic Green Cabbage&rdquo; has been added to your cart.
                    </div>
                    <div class="woocommerce-message" role="alert">
                        <a href="https://klbtheme.com/qualis/cart/" tabindex="1" class="button wc-forward">View cart</a> &ldquo;Organic Green Cabbage&rdquo; has been added to your cart.
                    </div>
                    <div class="woocommerce-message" role="alert">
                        <a href="https://klbtheme.com/qualis/cart/" tabindex="1" class="button wc-forward">View cart</a> &ldquo;Organic Sweet Banana&rdquo; has been added to your cart.
                    </div>
                    <div class="woocommerce-message" role="alert">
                        <a href="https://klbtheme.com/qualis/cart/" tabindex="1" class="button wc-forward">View cart</a> &ldquo;Organic Sweet Banana&rdquo; has been added to your cart.
                    </div>
                    <div class="woocommerce-message" role="alert">
                        <a href="https://klbtheme.com/qualis/cart/" tabindex="1" class="button wc-forward">View cart</a> &ldquo;Organic Red Delicious Apple&rdquo; has been added to your cart.
                    </div>
                    <div class="woocommerce-message" role="alert">
                        <a href="https://klbtheme.com/qualis/cart/" tabindex="1" class="button wc-forward">View cart</a> &ldquo;Organic Red Delicious Apple&rdquo; has been added to your cart.
                    </div>
                    <div class="woocommerce-message" role="alert">
                        <a href="https://klbtheme.com/qualis/cart/" tabindex="1" class="button wc-forward">View cart</a> &ldquo;Fresh Organic Mustard Leaves&rdquo; has been added to your cart.
                    </div>
                    <div class="woocommerce-message" role="alert">
                        <a href="https://klbtheme.com/qualis/cart/" tabindex="1" class="button wc-forward">View cart</a> &ldquo;Fresh Organic Mustard Leaves&rdquo; has been added to your cart.
                    </div>
                    <div class="woocommerce-message" role="alert">
                        <a href="https://klbtheme.com/qualis/cart/" tabindex="1" class="button wc-forward">View cart</a> &ldquo;Organic Strawberry&rdquo; has been added to your cart.
                    </div>
                    <div class="woocommerce-message" role="alert">
                        <a href="https://klbtheme.com/qualis/cart/" tabindex="1" class="button wc-forward">View cart</a> &ldquo;Organic Strawberry&rdquo; has been added to your cart.
                    </div>
                    <div class="woocommerce-message" role="alert">
                        <a href="https://klbtheme.com/qualis/cart/" tabindex="1" class="button wc-forward">View cart</a> &ldquo;Organic Green Bell Pepper&rdquo; has been added to your cart.
                    </div>
                    <div class="woocommerce-message" role="alert">
                        <a href="https://klbtheme.com/qualis/cart/" tabindex="1" class="button wc-forward">View cart</a> &ldquo;Organic Green Bell Pepper&rdquo; has been added to your cart.
                    </div>
                    <div class="woocommerce-message" role="alert">
                        <a href="https://klbtheme.com/qualis/cart/" tabindex="1" class="button wc-forward">View cart</a> &ldquo;Native Organic Carrot&rdquo; has been added to your cart.
                    </div>
                    <div class="woocommerce-message" role="alert">
                        <a href="https://klbtheme.com/qualis/cart/" tabindex="1" class="button wc-forward">View cart</a> &ldquo;Native Organic Carrot&rdquo; has been added to your cart.
                    </div>
                </div>
                <div class="account-login container register-enable">
                    <div class="u-columns col2-set" id="customer_login">
                        <div class="u-column1 col-1">
                            <h2>Login</h2>
                            <form class="woocommerce-form woocommerce-form-login login" method="post">
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="username">Username or email address&nbsp;<span class="required">*</span></label>
                                    <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" autocomplete="username" value="" />
                                </p>
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="password">Password&nbsp;<span class="required">*</span></label>
                                    <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" autocomplete="current-password" />
                                </p>
                                <p class="form-row">
                                    <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="cc3e887f53" /><input type="hidden" name="_wp_http_referer" value="/qualis/my-account/orders/" />				<button type="submit" class="woocommerce-Button woocommerce-button button woocommerce-form-login__submit" name="login" value="Log in">Log in</button>
                                    <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                                        <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever" /> <span>Remember me</span>
                                    </label>
                                </p>
                                <p class="woocommerce-LostPassword lost_password">
                                    <a href="https://klbtheme.com/qualis/my-account/lost-password/">Lost your password?</a>
                                </p>
                            </form>
                        </div>
                        <div class="u-column2 col-2">
                            <h2>Register</h2>
                            <form method="post" class="woocommerce-form woocommerce-form-register register">
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="reg_username">Username&nbsp;<span class="required">*</span></label>
                                    <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="reg_username" autocomplete="username" value="" />
                                </p>
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="reg_email">Email address&nbsp;<span class="required">*</span></label>
                                    <input type="email" class="woocommerce-Input woocommerce-Input--text input-text" name="email" id="reg_email" autocomplete="email" value="" />
                                </p>
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="reg_password">Password&nbsp;<span class="required">*</span></label>
                                    <input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="password" id="reg_password" autocomplete="new-password" />
                                </p>
                                <div class="woocommerce-privacy-policy-text">
                                    <p>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="https://klbtheme.com/qualis/?page_id=3" class="woocommerce-privacy-policy-link" target="_blank">privacy policy</a>.</p>
                                </div>
                                <p class="woocommerce-form-row form-row">
                                    <input type="hidden" id="woocommerce-register-nonce" name="woocommerce-register-nonce" value="50f34e1e27" /><input type="hidden" name="_wp_http_referer" value="/qualis/my-account/orders/" />				<button type="submit" class="woocommerce-Button woocommerce-button button woocommerce-form-register__submit" name="register" value="Register">Register</button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--WPFC_FOOTER_START-->
<div class="container">
    <div class="row our-features-box">
        <ul>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-truck"></i>
                    <div class="content">FREE SHIPPING on order over $99</div>
                </div>
            </li>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-phone"></i>
                    <div class="content">HAVE A QUESTIONS? <a href="10800 7890000">+10800 789 0000</a></div>
                </div>
            </li>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-usd"></i>
                    <div class="content">100% MONEY BACK GUARANTEE</div>
                </div>
            </li>
            <li>
                <div class="feature-box klb-footer-box">
                    <i class="fa fa-briefcase"></i>
                    <div class="content">30 DAYS RETURN SERVICE</div>
                </div>
            </li>
            <li class="last">
                <div class="feature-box">
                    <a href="#"><i class="fa fa-apple"></i> Download</a>
                    <a href="#"><i class="fa fa-android"></i> Download</a>
                </div>
            </li>
        </ul>
    </div>
</div>