

    <div class="row">
      <div class="col-sm-12">
<!-- Hover table card start -->
<app-card [title]="'Orders'" [classHeader]="true" [blockClass]="'table-border-style'">
  <span class="code-header">All Orders Detail</span>

  <div class="row">
    <div class="col-sm-12" >
     
    </div>
    <div class="col-sm-12" >
      <div class="col-sm-2" style="float: right;padding-bottom: 8px;">
        <select class="custom-select"#mySelect
        (change)='onOptionsSelected(mySelect.value)' >
          <option selected value="0">All</option>
         <option value="1">Pending</option>
         <option value="2">Active</option>
         <option value="3">Completed</option>
         <option value="4">Cancelled</option>
    
        </select>
        </div>
      <div class="col-sm-2" style="float: right;">
        <!-- <input type="text" class="form-control" [(ngModel)]="vendorname" (ngModelChange)="SearchRider()" placeholder="Enter Name to search" >
            -->
         
     </div>
    </div>
  </div>
  <div class="table-responsive" style="padding: 2%;">
    <table class="table table-hover">
      <thead>
      <tr>
        <th (click)="Sort('id')">#<i class="fa fa-sort"></i></th>
        <th (click)="Sort('code')">Order No.<i class="fa fa-sort"></i></th>
        <th (click)="Sort('storename')">User Name<i class="fa fa-sort"></i></th>
        <th (click)="Sort('storename')">Contact No<i class="fa fa-sort"></i></th>
        <th (click)="Sort('storename')">Email<i class="fa fa-sort"></i></th>
        <th (click)="Sort('createDate')">Order Type<i class="fa fa-sort"></i></th>
        <th (click)="Sort('createDate')">Order From<i class="fa fa-sort"></i></th>
        <th (click)="Sort('createDate')">Total Amount<i class="fa fa-sort"></i></th>
        <th (click)="Sort('status')">Status<i class="fa fa-sort"></i></th>
      <th (click)="Sort('Action')">Action<i class="fa fa-sort"></i></th>
      <!-- <th>Image</th> -->
      </tr>
      </thead>
      <tbody>
      
      <tr *ngFor="let obj of OrdersList2 | paginate:{itemsPerPage:10,currentPage:p}; let i=index;" >
        <td style="width: 2px;">{{i+1}}</td>
        <td>{{obj.order.orderNumber}}</td>
        <td>{{obj.userinfo?.name}}</td>
        <td>{{obj.userinfo?.contactno}}</td>
       <td>{{obj.userinfo?.email}}</td> 
        <td>{{obj.order?.orderType}}</td>
        <td>{{obj.order?.orderFrom}}</td>
        <td>{{obj.order?.totalAmount}}</td>
        <td>{{obj.order?.orderStatus}}</td>
    
       <td>  

          <i class="fa fa-desktop" aria-hidden="true" style="font-size:18px;color:rgb(255, 0, 0)"  (click)="openOrderDetailLg(OrderDetailcontent,obj)" ></i> 
       
        <div style="padding: 4px;"*ngIf="obj.order.orderStatus!='Completed'">
          <i class="fa fa-edit" aria-hidden="true" style="font-size:18px;color:rgb(113, 147, 240)"  (click)="openOrderUpdateLg(EditStatuscontent,obj.order)" ></i> 
        </div>
   </td>
      </tr>
     
      </tbody>
    
    </table>
    <div class="row">
      <div style="right: 10%;">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
  </div>
  </div>
</app-card>
<!-- Hover table card end -->
      </div>
    </div>

    <ng-template #OrderDetailcontent let-modal>
      
      <div class="modal-header">
        <h4 class="modal-title">Order Detail</h4>
      
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-hover">
      <thead>
           <tr>
             <th>Product Name</th>
             <th>Unit</th>
           
             <th>Qty</th>
             <th>Unit Price</th>
             <th>Total price</th>
           </tr>
      </thead>
      <tbody *ngFor="let obj of orderitemns.orderitems">
        <tr>
          <th>{{obj?.product}}</th>
          <th>{{obj?.unit}}</th>
          <th>{{obj?.item.quantity}}</th>
          <th>{{obj?.item.perUnitPrice}}</th>
          <th>{{obj?.item.totalPrice}}</th>
        </tr>
      </tbody>
    </table>
           </div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
  
  
    <ng-template #EditStatuscontent let-modal>
      
      <div class="modal-header">
        <h4 class="modal-title">Order Detail</h4>
      
      </div>
      <div class="modal-body">

        <div class="container">
          <form [formGroup]="orderstatus" >
      <input type="hidden" formControlName="orderId"/>
            <label>Select Status</label>
            <select class="custom-select custom-select-lg sm-1"formControlName="status"
            (change)='onOptionsOrderStatusSelected()'>
             
              <!-- <option value="Pending" *ngIf="ordercurrentstatus==''">Pending</option> -->
              <option value="Active"*ngIf="ordercurrentstatus=='Pending'" >Active</option>
              <option value="Completed"*ngIf="ordercurrentstatus=='Active'">Completed</option>
              
  
            </select>
      
             
          </form>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
      <p style="color: white">Please Wait. </p>  
      </ngx-spinner> 
  
  
